* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  background-color: #faf7f0;
  color: #333
  line-height: 1.6;
  padding: 40px;
  text-align: center;
}
h1 {
  font-size =
}
